@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

.container-header, .container-hero, .section-features, .section-desktop, .container-command, .section-client, .footer-content, .section-portfolio {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}

.section-features, .section-desktop, .section-command, .section-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* селекторы тегов */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.h2-studio {
  text-align: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

header {
  border-bottom: 1px solid #ececec;
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  margin-right: 85px;
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-studio {
  color: #212121;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list-item {
  position: relative;
  margin-right: 50px;
}

.nav-list-item:last-child {
  margin-right: 0px;
}

.nav-menu {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-menu:hover, .nav-menu:focus {
  color: #2196f3;
}

.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.container-connection {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-connection-items {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  margin: 0;
}

.list-connection {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
}

.list-connection:last-child {
  margin-right: 0px;
}

.nav-contact {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact:hover, .nav-contact:focus {
  color: #2196f3;
}

.icon-header {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1600px;
  height: 600px;
  background-color: #757575;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.8)), to(rgba(47, 48, 58, 0.8))), url(../images/header.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)), url(../images/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container-hero .h1-studio {
  text-align: center;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.container-hero .section-hero-button {
  margin-top: 46px;
  text-align: center;
}

.container-hero .section-hero-button .button-hero {
  text-align: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;
  text-align: center;
  background-color: #2196f3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}

.section-features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-features-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.features-items-list {
  margin-right: 30px;
  width: 270px;
}

.features-items-list:last-child {
  margin-right: 0px;
}

.features-items-list .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-items-list .features-name {
  margin-top: 30px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.features-items-list .features-title {
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
  color: #757575;
}

.section-desktop {
  border-top: 1px solid #ececec;
}

.section-desktop .desktop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.desktop-list-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  width: 370px;
}

.desktop-list-items:last-child {
  margin-right: 0px;
}

.desktop-list-items .soft {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  width: 370px;
  height: 70px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.section-command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f5f4fa;
}

.container-command .command-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin-top: 50px;
  margin-bottom: 0;
}

.command-items {
  background: #ffffff;
  border-radius: 4px;
  margin-right: 30px;
  width: 270px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.command-items:last-child {
  margin-right: 0;
}

.command-items .user {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
}

.command-items .user-skill {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
}

.command-items .container-seti {
  margin-top: 16px;
  margin-bottom: 24px;
  margin-left: 32px;
  margin-right: 31px;
}

.user-seti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.icon-fill {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  -webkit-transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-fill .icon-user {
  display: block;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-fill:hover .icon-user,
.icon-fill:focus .icon-user {
  fill: #ffffff;
}

.icon-fill:hover, .icon-fill:focus {
  background-color: #2196f3;
}

.section-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-client .logo-client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-bottom: 0;
  padding: 0;
}

.logo-client-items {
  margin-right: 30px;
}

.logo-client-items:last-child {
  margin-right: 0;
}

.logo-client-items .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  min-width: 170px;
  border: 1px solid #757575;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-client-items .icon:hover,
.logo-client-items .icon:focus {
  border: 1px solid #2196f3;
}

.logo-client-items .icon:hover .logo-icon,
.logo-client-items .icon:focus .logo-icon {
  fill: #2196f3;
}

.logo-icon {
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: #2f303a;
}

footer .footer-copyright {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 21px;
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.4);
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content .container-adress {
  margin-top: 48px;
  margin-right: 69px;
}

.footer-content .join {
  margin-top: 56px;
  margin-right: 94px;
}

.footer-content .subscribe {
  margin-top: 56px;
}

.studio-footer {
  color: #ffffff;
}

.footer-adress {
  margin-top: 10px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}

.adress-items {
  margin-top: 9px;
  margin-bottom: 28px;
  padding: 0;
}

.adress-items .adress-list {
  margin-bottom: 9px;
}

.footer-contact {
  display: block;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact:hover, .footer-contact:focus {
  color: #2196f3;
}

.footer-connect {
  margin-top: 0;
  margin-bottom: 21px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-seti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-seti-items {
  margin-right: 10px;
}

.footer-seti-items:last-child {
  margin-right: 0;
}

.footer-fon-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-fon-icon:hover, .footer-fon-icon:focus {
  background-color: #2196f3;
}

.footer-fon-icon .footer-icon {
  fill: #ffffff;
}

.subscribe-form {
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 9px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form::-webkit-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form:-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form::-ms-input-placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form::placeholder {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  width: 200px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 29px;
  background: #2196f3;
  border: 1px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.button-subscribe::after {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  background-image: url(../images/svg/subscribe.svg);
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
}

.button-list {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.modal .form-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal .form-topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.modal .button-close {
  display: block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
}

.space-form {
  position: relative;
  margin-bottom: 28px;
  cursor: pointer;
}

.space-form .form-input {
  width: 448px;
  height: 40px;
  margin: 0;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.space-form .form-input:focus {
  border: #2196f3;
  outline-color: #2196f3;
}

.space-form .form-input:focus + .form-label,
.space-form .form-input:not(:placeholder-shown) + .form-label {
  color: #2196f3;
  -webkit-transform: translate(-25px, -40px);
          transform: translate(-25px, -40px);
}

.space-form .form-input:focus ~ .form-icon {
  fill: #2196f3;
}

.space-form .form-label {
  display: block;
  position: absolute;
  top: 50%;
  left: 42px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  opacity: 1;
  color: #757575;
}

.space-form .form-icon {
  position: absolute;
  top: 14px;
  left: 18px;
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
}

.comments-form {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.comments-form .form-texterea {
  resize: none;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}

.comments-form .form-texterea:focus {
  border: #2196f3;
  outline-color: #2196f3;
}

.comments-form .form-texterea:focus + .comments-item,
.comments-form .form-texterea:not(:placeholder-shown) + .comments-item {
  color: #2196f3;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
}

.comments-form .comments-item {
  top: 14px;
  left: 18px;
  -webkit-transform: translatey(0%);
          transform: translatey(0%);
  position: absolute;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  opacity: 1;
  color: #757575;
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  background-image: url(../images/svg/icon-check.svg);
  background-size: cover;
  border: #2196f3;
}

.checkbox-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 1.5px solid #212121;
  border-radius: 4px;
}

.form-button {
  width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px;
  cursor: pointer;
}

.icon-close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.form-contract {
  text-align: center;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.form-contract .checkbox-label {
  display: inline-block;
  cursor: pointer;
}

.form-contract a {
  display: inline;
  text-decoration: underline;
  color: #2196f3;
}

.section-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-portfolio .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-portfolio .portfolio-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 0;
}

.section-portfolio .box-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  padding: 0;
  margin: 0;
}

.filter-items {
  margin-right: 8px;
}

.filter-items:last-child {
  margin-right: 0;
}

.filter-items .button {
  background: #f5f4fa;
  border-radius: 4px;
  border: 1px;
  padding: 6px 22px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-items .button:hover, .filter-items .button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.felx-outline {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.felx-outline .thumb:hover .hidden,
.felx-outline .thumb:hover .product::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.felx-outline .thumb:hover {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.felx-outline .thumb:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.felx-outline .thumb:focus .hidden,
.felx-outline .thumb:focus .product::before {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.felx-outline:nth-child(3n) {
  margin-right: 0;
}

.felx-outline:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product {
  position: relative;
  overflow: hidden;
}

.product .hidden {
  position: absolute;
  top: 0;
  content: "";
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  margin: 63px 24px;
  -webkit-transform: translateY(180%);
          transform: translateY(180%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product::before {
  position: absolute;
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(150%);
          transform: translateY(150%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.portfolio-content {
  padding: 20px 24px;
  background: #ffffff;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-radius: 0px 0px 5px 5px;
}

.portfolio-content .h2-portfolio {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-content .abzac-menu {
  margin-top: 4px;
  margin-bottom: 0;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */