.section-command {
    padding: 60px 15px;
    margin: auto;
    width: 480px;
    background: $filtercolor;
}
    .command-list {
    padding: 0px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.command-items {
    background: $whitecolor;
    border-radius: 4px;
    margin-top: 30px;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
    &:last-child {
    margin-bottom: 0px;
    }
    .photo-command {
        min-width: 450px;
    }
    .user {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    
    font-family: $primary-Font;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $blackcolor;
    }
    .user-skill {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    
    font-family: $primary-Font;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $graycolor;
    }
    .container-seti {
    margin-top: 16px;
    margin-bottom: 24px;
    margin-left: 122px;
    margin-right: 121px;
}}
.user-seti {
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.icon-fill {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background $time $Function-bezier;
    .icon-user {
    display: block;
    width: 20px;
    height: 20px;
    fill: #afb1b8;
    transition: fill $time $Function-bezier;
    }
    &:hover .icon-user,
    &:focus .icon-user {
    fill: $whitecolor;
    }
    &:hover,
    &:focus {
    background-color: $bluecolor;
}}

  
  