.section-features {
    display: flex;
    width: 480px;
    padding: 60px 15px;
    margin: auto;
    align-items: center;
}
.section-features-items {
    display: flex;
    margin: 0px;
    padding: 0px;
    @media screen and (max-width: 480px) {
        max-width: 480px;
        display: block;
    }
    @media screen and (min-width: 480px) {
        max-width: 480px;
        display: block;
}}
.features-items-list {
    margin-bottom: 30px;
    &:last-child {
    margin-bottom: 0px;
    }
    .inside {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 450px;
    height: 120px;
    background: $filtercolor;
    border-radius: 4px;
    }
    .features-name {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-family: $primary-Font;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $blackcolor;
    }
    .features-title {
    margin-top: 10px;
    margin-bottom: 0px;
  
    font-family: $primary-Font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: $graycolor;
}}
  
  