.section-client {
    padding: 60px 15px;
    margin: auto;
    width: 480px;
    .logo-client {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0;
}}
.logo-client-items {
    display: inline-block;
    width: 210px;
    margin-right: 29px;
    margin-bottom: 30px;
    &:nth-child(2n) {
    margin-right: 0px;
    }
    &:nth-last-child(-n+2) {
    margin-bottom: 0;
    }
    .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    min-width: 170px;
    border: 1px solid $graycolor;
    border-radius: 4px;
    transition: border $time $Function-bezier;
    }
    .icon:hover,
    .icon:focus {
    border: 1px solid $bluecolor;
    }
    .icon:hover .logo-icon,
    .icon:focus .logo-icon {
    fill: $bluecolor;
}}
.logo-icon {
    fill: $graycolor;
    transition: fill $time $Function-bezier;
}
  
  