// Color palatte
$whitecolor: #ffffff;
$blackcolor: #212121;
$bluecolor:  #2196f3;
$graycolor:  #757575;
$footercolor: #2f303a;
$filtercolor: #f5f4fa;
// Fonts
$logo-Font: Raleway, sans-serif;
$primary-Font: Roboto, sans-serif;
     

//cubic-bezier
$Function-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;