$primary-icon-color: #afb1b8;
$primary-color: #212121;
$secondary-color: #757575;
$white-color: #ffffff;
$accent-color: #2196f3;
$background-color-secondary: #f5f4fa;
$background-color-dark-grey: rgba(47, 48, 58, 0.8);

$main-font: Roboto, sans-serif;